version: '3'

services:
  demo-microservice1:
    #image: demo-microservice1:latest
    image: j2eeexpert2015/demo-microservice1:latest
    #image: ghcr.io/j2eeexpert2015/demo-microservice1:latest
    container_name: demo-microservice1
    build:
      context: ./demo-microservice1
      dockerfile: Dockerfile
    ports:
      - "8081:8081" # Expose the application port
      - "5005:5005" # Expose the debug port      
    environment:
      - demo-microservice2-host=demo-microservice2
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005
      #- JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 # JDK 9 onwards      
  demo-microservice2:
    #image: demo-microservice2:latest
    image: j2eeexpert2015/demo-microservice2:latest
    #image: ghcr.io/j2eeexpert2015/demo-microservice2:latest
    container_name: demo-microservice2
    build:
      context: ./demo-microservice2
      dockerfile: Dockerfile
    ports:
      - "8082:8082" # Expose the application port
      - "5006:5006" # Expose the debug port     
    environment:
      #- JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5006 # JDK 9 onwards
      - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5006                               